body{
	background: skyblue;
}
.main_wrapper{
	width: 1000px;
	height: auto;
	margin: auto;
}
#header{
	width: 1000px;
	height: auto;
	background: white;
	border-bottom: 5px black;
}
#left{
	width: 790px;
	height: auto;
	background: skyblue;
	float: left;
}
#right{
	width: 200px;
	height: auto;
	float: right;
	border: 5px black;
}
#right a{
	text-decoration: none;
	color:white;
	text-align: right;
	font-size: 18px;
	font-family: palatino;
	padding: 6px;
	margin: 6px;
	display: block;
}
#right a:hover{
	text-decoration: underline;
	font: bold;
	color: orange;
}