#content_area{
	margin-left: 30px;
	width: 1200px;
	float: center;
	background: pink;
}
#products_box{
	width: 1200px;
	text-align: center;
	margin-left: 30px;
	margin-bottom: 10px;
}
#single_product{
	float: left;
	margin-left: 20px;
	padding: 10px;
}
#single_product img{
	border: 2px solid black;
	}